*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  transition: all 0.3s;
}

:active, :focus {
  outline: 0;
}

body {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #767676;
}

h1 {
  font-size: 28px;
  font-weight: 300;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.menu {
  font-size: 1.1em;
  display: flex;
  justify-content: space-around;
}
.menu__logo {
  width: 5.5em;
  height: 5.5em;
  padding: 0.7em;
}
.menu__item {
  position: relative;
  color: #767676;
  margin: 2rem;
  width: 3.7em;
  text-align: center;
}
.menu__item::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0px;
  width: 0px;
  height: 3px;
  background-color: #0F68AF;
  transition: width 0.2s;
  opacity: 0;
}
.menu__item:hover::after {
  opacity: 1;
  width: 60px;
}

.menu-main {
  display: flex;
  justify-content: flex-start;
}

.menu__list-item {
  display: flex;
  flex-direction: row;
  margin-left: 1em;
}

.menu__link {
  color: #767676;
  font-weight: 600;
}

.menu__link-login {
  position: relative;
  color: #0F68AF;
}
.menu__link-login-p {
  color: #0F68AF;
  margin: 0em 0.5em 0 0.5em;
}
.menu__link-login:hover {
  opacity: 1;
  background-color: #0F68AF;
  color: white;
}

.menu-login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-login__basket {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0;
  width: 7em;
  transition: all 0.3s;
  background-size: 100% 200%;
  background-image: linear-gradient(to top, #fff 50%, #f3f2f2 50%);
  color: #333;
}
.menu-login__basket:hover {
  background-position: 0 100%;
}
.menu-login__basket-ico {
  width: 2em;
}
.menu-login__basket-p {
  padding: 0.5em;
  font-weight: 600;
}

.header__banner {
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/header_baner.jpg");
  background-size: cover;
}

.search-form {
  display: flex;
  justify-content: center;
  padding-top: 3em;
  height: 17em;
  background-color: #f3f2f2;
}

.search-form__form-right, .search-form__form-left {
  display: flex;
  flex-direction: column;
}

.search-form__label, .search-form__form-label-select {
  color: #767676;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0.5em;
}

.search-form__input {
  padding: 0.4em;
  margin: 0;
  width: 27em;
  border-radius: 0;
  border: 1px solid grey;
  color: #767676;
}
.search-form__input-sec {
  width: 25.8em;
}
.search-form__input-select {
  width: 25.8em;
}

.search-form__btn, .search-form__btn-sec {
  background-color: #0F68AF;
  color: white;
  padding: 0.3em 1em 0.45em 1em;
  border: 0px;
  font-size: 15px;
  margin: 0;
  font-weight: 700;
}

.search-form__btn-select {
  display: flex;
  align-self: flex-end;
  width: 8em;
  background-color: #0F68AF;
  color: white;
  padding: 0.3em 1em 0.45em 1em;
  border: 0px;
  font-size: 15px;
  margin: 0;
  font-weight: 700;
}

.search-form__box {
  margin-bottom: 2em;
}

.search-form__form-select {
  padding: 0.4em;
  margin-bottom: 1em;
  width: 29em;
  border-radius: 0;
  border: 1px solid grey;
  color: #767676;
}

.search-form__form-right {
  margin-right: 2em;
}
.search-form__form-left {
  margin-left: 2em;
}

.advert {
  display: flex;
  justify-content: center;
  text-align: center;
}
.advert__h1 {
  margin-top: 1.5em;
}
.advert__p {
  margin-top: 0.5em;
}

.footer {
  display: flex;
  justify-content: center;
}
.footer__list-item {
  display: flex;
  flex-direction: row;
}
.footer__item {
  font-size: 14px;
  margin: 1em;
  color: #767676;
}

.search-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f3f2f2;
}

.search-info-form {
  display: flex;
  justify-content: flex-start;
  width: 60em;
  align-items: flex-end;
  margin: 2em 2em 2em 10%;
}

.search-info-form__box {
  display: flex;
  flex-direction: column;
}

.menu-info {
  display: flex;
  justify-content: center;
}

.menu-info__nav {
  display: flex;
  align-items: flex-end;
}

.menu-info__list-item {
  display: flex;
  flex-direction: row;
}

.menu-info__item {
  margin: 1em;
  font-weight: 600;
  color: #0F68AF;
}

.search-info-form__input {
  padding: 0.4em;
  margin: 0;
  width: 15em;
  border-radius: 0;
  border: 1px solid grey;
  color: #767676;
}

.search-info-form__btn {
  background-color: #0F68AF;
  color: white;
  padding: 0.3em 1em 0.45em 1em;
  border: 0;
  font-size: 15px;
  margin-right: 0.5em;
  font-weight: 700;
  width: 1em;
  height: 2em;
}

.search-info__select-nr {
  margin-left: 2em;
  margin-bottom: 0.5em;
  font-weight: 600;
  color: #0F68AF;
}

.details-info {
  display: flex;
  justify-content: start;
  height: 3em;
}

.details-info__span--black {
  padding: 0.65em;
  margin-left: 10%;
  font-size: 17px;
  font-weight: 400;
}
.details-info__span--grey {
  padding: 0.8em;
  color: #767676;
}

.details-info__line {
  border-left: 1px solid #f3f2f2;
}

.table-info__details-header {
  flex-grow: 1;
  justify-content: space-around;
  display: flex;
  padding: 2em;
  margin-left: 10%;
  background-color: #c2c2c2;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.table-info__details {
  flex-grow: 1;
  justify-content: space-around;
  display: flex;
  padding: 2em;
  margin-left: 10%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-bottom: 1px solid #c2c2c2;
}

.table-info__box {
  padding-top: 2em;
  display: flex;
  justify-content: center;
}

.table-info__images {
  margin: 0 10% 0 2em;
  margin-right: 10%;
  width: 28%;
}

.table-info__span {
  width: 20em;
}
.table-info__span--header {
  color: white;
}
.table-info__span--mid {
  color: black;
  width: 20em;
}

.table-info {
  background-color: #f3f2f2;
}
.table-info__tables {
  width: 50%;
}

.table-info__header-sec {
  margin: 3em 0 0 0;
}
/*# sourceMappingURL=main.css.map */
