.details-parts {
    display: flex;
    justify-content: start;
    padding-top: 2em;
}

.details-parts__span {
    &--black {
        padding: 0.65em;
        margin-left: 9.5%;
        font-size: 17px;
        font-weight: 400;
    }

    &--grey {
        padding: 0.8em;
        color: $colorFontsgray;
    }
}

.details-parts__line {
    border-left: 1px solid $colorFontsdarkgray;
}

.details-parts__images {
    padding-left: 10%;
    margin-top: 1em;
}

.table-parts__span {
    width: 20em;

    &--header {
        color: white;
    }

    &--mid {
        color: black;
        width: 20em;
    }
}

.table-parts__details {
    flex-grow: 1;
    justify-content: space-around;
    display: flex;
    padding: 1em;
    margin: 0 10% 0 10%;
    height: fit-content;
    border-bottom: 1px solid $colorFontsdarkgray;

    &-header {
        background-color: $colorFontsdarkgray;
    }
}

.cart-info__wrap {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 4em 5% 0 8em;
    padding: 1em;

    height: 13em;
    background-color: white;
}

.cart-info__store {
    padding-right: 3.5em;
    border-right: 1px solid $colorFontslightgray;
}

.cart-info__store--mid {
    margin-top: 2em;
    border-bottom: 1px solid $colorFontslightgray;
}

.cart-info__span {
    &--workshop {
        margin-right: 1em;
        font-weight: 800;
    }

    &--quantity {
        font-weight: 800;
    }

    &--location {
        font-weight: 400;
    }

    &--avible {
        margin-right: 1em;
        float: right;
    }
}

.cart-info__prices {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.cart-info__span {
    &--price {
        margin-top: 0.5em;
    }

    &--price-bold {
        margin-top: 0.5em;
        font-weight: 800;
        color: $colorElemblue;
    }
}

.cart-info__add {
    display: flex;
    flex-direction: row;
}

.cart-info-form__input {
    padding: 0.4em;
    margin: 0.5em;
    width: 2em;
    border-radius: 0.2em;
    border: 1px solid grey;
    color: $colorFontsgray;
    text-align: center;
}

.cart-info-form__btn {
    background-color: $colorElemblue;
    color: white;
    border: 0;
    border-radius: 0.2em;
    font-size: 15px;
    margin: 0.5em;
    font-weight: 700;
    width: 7em;
    height: 1.94em;
}


@media (max-width: 1234px) {
    .cart-info__wrap {
        margin: 0;
        height: 13em;
    }

}

@media (max-width: 1234px) {
    .cart-info__wrap {
        flex-direction: column;
        height: 23em;
    }

    .cart-info__store {
        padding-right: 0;
        border-right: 0px solid #f3f2f2;
    }

    .cart-info__prices {
        align-self: center;
    }

}