.part__images {
    display: flex;
}

.part {
    display: flex;
    justify-content: center;
    background-color: $colorFontslightgray;
    padding: 2em;
}

.part__details {
    display: flex;
    flex-direction: column;
    width: 60em;

    &-header {
        display: flex;
        padding: 1em 0 1em 2em;
        margin-left: 10%;
        background-color: $colorFontsdarkgray;
    }

    &-mid {
        align-items: baseline;
        display: flex;
        padding: 0 0 0 2em;
        margin-left: 10%;
        background-color: white;
    }

    &-buttons {
        display: flex;
        padding: 1em;
        margin-left: 10%;
        background-color: white;
    }
}

.part-info__span {
    width: 15em;

    &--header {
        color: white;
        text-align: center;
    }

    &--mid {
        color: black;
        width: 20em;
    }
}

.part-details__span {
    width: 20em;

    &--header {
        color: white;
    }

    &--mid {
        color: black;
        width: 20em;
    }
}

.part-info__btn {
    color: white;
    border: 0;
    border-radius: 0.2em;
    font-size: 15px;
    font-weight: 700;
    width: 7em;
    margin: 0.5em;
    padding: 0.7em;

    &--dark {
        background-color: $colorElemblue;
    }

    &--light {
        background-color: $colorElemblueLight;
    }
}

.part-info__ico {
    &--info {
        width: 2em;
    }

    &--basket {
        width: 2em;
    }

    &--arrow {
        width: 2em;
    }
}

.part-info__btn {

    &--info,
    &--basket,
    &--arrow {
        background-color: #0f68af;
        color: white;
        border: 0;
        margin-right: 0.5em;
        padding: 0;
        width: 4em;
        height: 2.5em;
    }


}

.part-info__details {
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 1em;
    margin: 0 10% 0 10%;
    text-align: center;
    height: fit-content;
    border-bottom: 1px solid $colorFontsdarkgray;
}

.part-info__details-header {
    background-color: $colorFontsdarkgray;
    flex-grow: 1;
    justify-content: space-around;
    display: flex;
    padding: 1em 10em 1em 4em;
    margin: 0 10% 0 10%;
    height: fit-content;
    border-bottom: 1px solid $colorFontsdarkgray;
}

.part-info-form__input {
    padding-bottom: 0.2em;
    font-size: 17px;
    margin: 0.4em;
    width: 2.2em;
    height: 2.4em;
    border-radius: 0.2em;
    border: 1px solid grey;
    color: #767676;
    text-align: center;
}

.part-info {

    display: flex;
    flex-direction: column;

}



@media (max-width: 1889px) {

    .part-info__details-header {
        padding: 1em 10em 1em 4em;
        margin: 0 7% 0 7%;

    }

    .part-info__details {
        margin: 0 6% 0 6%;

    }



}


@media (max-width: 1551px) {

    .part-info__details-header {
        padding: 1em 10em 1em 3.5em;
        margin: 0 2% 0 2%;
    }

    .part-info__details {
        margin: 0 1% 0 1%;

    }

    .part__details-header {
        margin-left: 5%;
    }

    .part__details-mid {
        margin-left: 5%;
    }

    .part__details-buttons {
        margin-left: 5%;
    }

}


@media (max-width: 1340px) {

    .part {
        align-items: center;
        flex-direction: column;
    }

    .part__images {
        margin-bottom: 2em;
    }

    .part__details-header {
        margin-left: 0;
    }

    .part__details-mid {
        margin-left: 0
    }

    .part__details-buttons {
        margin-left: 0;
    }

    .part__details {
        width: 50em;
    }
}


@media (max-width: 785px) {


    .part__details {
        width: 40em;
    }
    // .part-details__span--header {
    //     width: 10em;
    // }

    // .part-info__span {
    //     width: 10em;
    // }

    .part-info__details-header {
        width: 770px;
    }

    .part-info__details {
        width: 770px;
    }


    .part-info {
        overflow-x: auto;
        /* Horizontal */
    }

}

@media (max-width: 605px) {

    .part__details {
        width: 30em;
    }
}


@media (max-width: 461px) {

    .part__details {
        width: 20em;
    }
}