.table-info__details-header {
    flex-grow: 1;
    justify-content: space-around;
    display: flex;
    padding: 2em;
    margin-left: 10%;
    background-color: $colorFontsdarkgray;
    height: fit-content;
}


.table-info__details {
    flex-grow: 1;
    justify-content: space-around;
    display: flex;
    padding: 2em;
    margin-left: 10%;
    height: fit-content;
    border-bottom: 1px solid $colorFontsdarkgray;
}

.table-info__box {
    display: flex;
    justify-content: center;
}

.table-info__images {
    margin: 0 5% 0 5em;
    width: 28%;
}

.table-info__span {
    width: 20em;

    &--header {
        color: white;
    }

    &--mid {
        color: black;
        width: 20em;
    }
}

.table-info {
    background-color: $colorFontslightgray;

    &__tables {
        width: 50%;
    }
}

.table-info__header-sec {
    margin: 3em 0 2em 0;
}

.table-info__image-1 {
    width: 100%;

          }


@media (min-width: 820px) and (max-width: 1260px) {
    .table-info__box {

        flex-direction: column-reverse;
    }

    .table-info__tables {
        width: 100%;
    }

    .table-info__details-header {
        margin-left: 0;
    }

    .table-info__details {
        margin-left: 0;
    }

    .table-info__images {
        display: flex;
        justify-content: center;
        align-self: center;
        width: auto;

    }

}

@media (max-width: 820px) {

    .table-info__images {
        margin: 0;
        margin-right: 0;
        width: 100%;
        justify-content: center;
        align-self: center;
        display: flex;
    }

    .table-info__tables {
        width: 91%;
    }


    .table-info__image-1 {
        width: 100%;

    }

}

@media (max-width: 461px) {
.table-info__details-header {
    margin-left: 0;
}

.table-info__details {
    margin-left: 0;
}
}