.table-info__details-header {
    flex-grow: 1;
    justify-content: space-around;
    display: flex;
    padding: 2em;
    margin-left: 10%;
    background-color: $colorFontsdarkgray;
    height: fit-content;
}


.table-info__details {
    flex-grow: 1;
    justify-content: space-around;
    display: flex;
    padding: 2em;
    margin-left: 10%;
    height: fit-content;
    border-bottom: 1px solid $colorFontsdarkgray;
}

.table-info__box {
    display: flex;
    justify-content: center;
}

.table-info__images {
    margin: 0 10% 0 2em;
    margin-right: 10%;
    width: 28%;
}

.table-info__span {
    width: 20em;

    &--header {
        color: white;
    }

    &--mid {
        color: black;
        width: 20em;
    }
}

.table-info {
    background-color: $colorFontslightgray;

    &__tables {
        width: 50%;
    }
}

.table-info__header-sec {
    margin: 3em 0 2em 0;
}
