.search-info {
  display: flex;
  justify-content: center;
  //align-items: center;
  flex-direction: column;
  background-color: #f3f2f2;
}

.search-info-form {
  display: flex;
  justify-content: flex-start;
  width: 60em;
  align-items: flex-end;
  margin: 2em 2em 2em 10%;

  &__ico {
    width: 1.4em;
  }
}

.search-info-form__box {
  display: flex;
  flex-direction: column;
}

.menu-info {
  display: flex;
  justify-content: center;

  &__item {
    margin: 1em;
    font-weight: 600;
    color: $colorElemblue;
  }

  &__links {
    color: $colorElemblue;

    &:hover {
      background-color: $colorFontslightgray;
    }
  }
}

.menu-info__nav {
  display: flex;
  align-items: flex-end;
}

.menu-info__list-item {
  display: flex;
  flex-direction: row;
}

.search-info-form__input {
  padding: 0.4em;
  margin: 0;
  width: 15em;
  border-radius: 0;
  border: 1px solid grey;
  color: $colorFontsgray;
}

.search-info-form__btn {
  background-color: $colorElemblue;
  color: white;
  border: 0;
  font-size: 15px;
  margin-right: 0.5em;
  font-weight: 700;
  width: 2em;
  height: 1.94em;
}

.search-info__select-nr {
  position: relative;
  margin-left: 2em;
  margin-bottom: 0.5em;
  font-weight: 600;
  color: $colorElemblue;

  &::after {
    content: "X";
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    color: white;
    position: absolute;
    background-color: red;
 
    
    width: 1.3em;

    padding: 0em;
    margin-left: 0.5em;
  }
}

.details-info {
  display: flex;
  justify-content: start;
  height: 3em;
}

.details-info__span {
  &--black {
    padding: 0.65em;
    margin-left: 10%;
    font-size: 17px;
    font-weight: 400;
  }

  &--grey {
    padding: 0.8em;
    color: $colorFontsgray;
  }
}

.details-info__line {
  border-left: 1px solid $colorFontslightgray;
}
