body {
font-family: $fontBody;
font-weight: 400;
font-size: 15px;
}

p {
    font-family: $fontBody;
    font-weight: 400;
    color: $colorFontsgray;
}

h1 {
    font-size: 24px;
    font-weight: 400;
}