// FONTS

$fontBody: 'Source Sans Pro', sans-serif;
$fontBold: 600;
$fontRegular: 400;

// COLORS

$colorFontsgray: #767676;
$colorFontsdarkgray: #c2c2c2;
$colorFontslightgray: #f3f2f2;
$colorElemblue: #0F68AF;

